/* Container styles */
.main-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom left, darkgray, black);
    height: 90vh;
}
.table-events-container{
    min-height: 89vh;
}
.top-cover {
    position: relative; /* Added position property */
    background-color: lightgray;
    height: 100px;
    width: 95vw;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin: 2em;
}


.top-cover h1 {
    height: 100px;
    width: 200px;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1em; /* Adjust the margin value as per your preference */
    background-color: red;
    border-radius: 50%;
}

.local-Event-decription {
    position: relative; /* Added position property */
    top: -1em; /* Adjust the value as per your preference */
    display: flex;
    justify-content: space-between;
    background-color: rgb(59, 59, 59);
    height: 45em;
    padding: 2px;
    border-bottom-left-radius: 3%;
    
}

.local-Event-decription h1{
    position: relative;
    font-size: 20px;
    align-items: center;
    text-align: center;
    height: 3em;
    width: 24em;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}
 .table-container {
  width: 100%;
  margin-right: 25em;
  height: 200px; /* Set a maximum height for the tables */
  /* margin-top: 46em; */
}

.table-container table {
  width: 110.6em;
  border-collapse: collapse;
}

.table-container thead th {
  background-color: rgb(78, 78, 78);
  color: #fff;
  padding: 10px;
}

.table-container tbody tr:nth-of-type(odd) {
  background-color: #818181;
}

/* .table-container tbody tr:hover {
  background-color: #0b0c0c;
} */

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}

.table-container th:first-child,
.table-container td:first-child {
  text-align: left;
}
