.table-container {
  width: 100%;
  margin-right: 25em;
  height: 200px; /* Set a maximum height for the tables */
  /* margin-top: 46em; */
}

.table-container table {
  width: 80em;
  border-collapse: collapse;
}

.table-container thead th {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
}

.table-container tbody tr:nth-of-type(odd) {
  background-color: #515253;
}

/* .table-container tbody tr:hover {
  background-color: #0b0c0c;
} */

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}

.table-container th:first-child,
.table-container td:first-child {
  text-align: left;
}
.sideBar-container {
  display: flex;
  flex-direction: column;
  height: 1em;
  width: 10em;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em; /* Align items to the left */
  padding-left: 20px; 
}
.profile-container {
  display: flex;
  /* flex-direction: column;  */
  background-color: gray;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.button-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 4em;
  background-color: rgb(145, 145, 145);
  padding: 2px;
  margin-bottom: 5px;
  margin-top: -25.5em;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  

}
.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 4em;
  padding: 2px;
  background-color: rgb(145, 145, 145);
  margin-bottom: 5px;
  

}
.button-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 4em;
  padding: 2px;
  background-color: rgb(145, 145, 145);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  
}

.button-container1 button, .button-container2 button , .button-container3 button{
  text-decoration: none;
  background-color: rgb(145, 145, 145); 
  height: 3em;
  width: 7em;
  border: none;
}


.Card-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 2px auto; /* Add margin and auto to horizontally center the container */
  padding: 20px;
  background-color: rgb(99, 97, 97);
  height: 49em;
  width: 80em; /* Set a maximum width for the container */
  border-radius: 2%;
  
}
.Card-Container > .table-container + .table-container {
  margin-top: -36em; /* Add margin between tables */
  margin-bottom: 12em;
}