/* sign_up.css */

/* Container styles */
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom left, darkgray, black);
}

/* Form styles */
.Cover {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.Cover h1 {
  text-align: center;
  margin-bottom: 20px;
}

.Cover label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Cover input[type='text'],
.Cover input[type='password'] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Cover input[type='text']:focus,
.Cover input[type='password']:focus {
  outline: none;
  border-color: red;
}

.Cover .instructions {
  margin-top: 5px;
  font-size: 14px;
  color: black;
}

.Cover .terms-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Cover .terms-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.Cover .terms-box.checked {
  background-color: red;
  border-color: #6c63ff;
}

.Cover .terms-container p {
  margin: 0;
  font-size: 14px;
}

.Cover button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.Cover button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Cover p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.Cover p .line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

/* Error message styles */
.errmsg {
  color: red;
  margin: 10px 0;
  font-size: 14px;
}

/* Offscreen element styles */
.offscreen {
  position: absolute;
  left: -9999px;
}